<h4 class="mb-1">Reset Password🔒</h4>
<p class="mb-4">
    for <span class="fw-medium">{{ email }}</span>
</p>
<form id="formAuthentication"
      class="mb-3"
      action="{% url 'accounts:reset_password' %}"
      method="post">
    {% csrf_token %}
    <input type="hidden" name="email" value="{{ email }}">
    <div class="mb-3 form-password-toggle">
        <label class="form-label" for="password">New Password</label>
        <div class="input-group input-group-merge">
            <input type="password"
                   id="password"
                   class="form-control"
                   name="password"
                   placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                   aria-describedby="password" />
            <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
        </div>
    </div>
    <div class="mb-3 form-password-toggle">
        <label class="form-label" for="confirm-password">Confirm Password</label>
        <div class="input-group input-group-merge">
            <input type="password"
                   id="confirm-password"
                   class="form-control"
                   name="confirm-password"
                   placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                   aria-describedby="password" />
            <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
        </div>
    </div>
    <button class="btn btn-primary d-grid w-100 mb-3" type="submit">Set new password</button>
</form>
